body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
h1 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
h3 {
  font-family: 'Oswald', sans-serif;
}
p {
  font-family: "Open Sans", sans-serif;
}
.images {
  text-align: center;
}
img {
  display: inline-block;
  margin: auto;
  border: 1px solid lightgray !important;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.075);
  padding: 4px;
  margin-bottom: 10px;
}
.container {
  margin-bottom: 2%;
}
